.input-wrapper {
  position: relative;
  margin-top: 1rem;
  border: 1px solid var(--outline);
  display: flex;
  border-radius: 0.75rem;
  transition: none;
  height: 3rem;

  &:has(*:disabled) {
    opacity: 0.6;
    cursor: not-allowed;
  }

  input {
    width: 100%;
    background: var(--surface);
    border: none;
    padding: 0.75rem;
    border-radius: 0.75rem;

    &:focus {
      border-color: var(--primary);
      outline: none;
      background: var(--surface);
    }
  }

  label {
    position: absolute;
    left: 0.75rem;
    top: 0.8rem !important;
    color: var(--outline);
    transform-origin: left top;
    cursor: text;
    white-space: nowrap;
    background-color: var(--surface);
  }

  &:has(input:focus) {
    outline: 2px solid var(--primary);
  }

  &:has(input:focus),
  &:has(input:not(:placeholder-shown)) {
    label {
      transform: scale(0.8) translateY(-1.8rem);
      color: var(--on-surface-variant);
      padding: 4px 6px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-start;
    margin-top: 1rem;
  }
}
