// If its not within wg-form we need to apply the styling by hand
.input-wrapper {
  position: relative;
  margin-top: 1rem;

  label {
    position: absolute;
    top: 0.5rem !important;
    left: 1rem !important;
    margin: 0 !important;
    background: var(--surface);
    font-weight: 400 !important;
    z-index: 9;
  }

  &:has(input:focus),
  &:has(input:not(:placeholder-shown)),
  &:has(input)[placeholder]:not([placeholder=" "]),
  &:has(textarea:focus),
  &:has(select:focus),
  &:has(select:not(:invalid)) {
    label {
      top: -0.5rem !important;
      left: 0.75rem !important;
      transform: scale(0.8) !important;
      height: 1.5rem;
      background: var(--surface);
    }
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--on-surface);
    border-radius: 0.25rem;
    background: var(--surface);
    
    &:focus {
      border-color: var(--primary);
      outline: none;
      background: var(--surface);
    }
  }

  &:has(*:disabled) {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.input-wrapper {
  position: relative;

  label {
    position: absolute;
    left: 0.5rem;
    top: 0.75rem !important;
    font-size: 1rem !important;
    color: var(--outline);
    transform-origin: left top;
    cursor: text;
    text-wrap: nowrap;
    transition: all 0.2s ease-in-out;
    background: var(--_label-background-color, transparent);
  }

  input,
  select,
  textarea {
    background-color: var(--_label-background-color, transparent);

    &:focus,
    &:focus-visible {
      background: var(--surface);
    }
  }

  &:has(input:focus),
  &:has(input:not(:placeholder-shown)),
  &:has(input[data-filled="true"]),
  &:has(select:focus),
  &:has(select:not(:invalid)) {
    label {
      left: 0.25rem;
      transform: scale(0.8) translateY(-1.6rem);
      color: var(--on-surface-variant);
    }
  }
}

.double-field {
  display: flex;
  gap: 1rem;

  > :first-child {
    flex: 1;
  }

  > :last-child {
    flex: 1;
  }
}

.input-with-second-field {
  display: flex;
  align-items: center;
  gap: 1rem;

  > :first-child {
    flex: 1;
  }

  > :last-child {
    flex: none;
    height: fit-content;
  }
}

.dubble-text-field {
  display: flex;
  gap: 1rem;

  .input-wrapper {
    flex: 1;
  }
}

.double-field {
  display: flex;
  gap: 1rem;

  > :first-child {
    flex: 1;
  }

  > :last-child {
    flex: 1;
  }
}