.pagination, .tabs {
  display: flex;
  justify-content: center;
  z-index: 1;

  nav {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--surface-at-1);
    border: 1px solid var(--outline-variant);

    .page, .first, .prev, .next, .last, .gap, .tab {
      a, &.current {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 2.25rem;
        height: 2.25rem;
        padding: 0 0.75rem;
        border-radius: 0.75rem;
      }

      a:hover:not(.disabled) {
        background-color: var(--surface-at-2);
      }

      &.current {
        background-color: var(--primary);
        color: var(--on-primary);
      }
    }
  }
}
